<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 offset-sm-2">
      <h1>Reviews</h1>
      <% @reviews.each do |review| %>
        <h3><%= review.id %></h3>
        <p><%= review.text %></p>
      <% end %>
    </div>
  </div>
</div>